.container {
  @apply flex justify-center mt-5 items-center cursor-pointer transition-all hover:shadow-lg flex-grow overflow-hidden rounded-sm shadow-md   gap-3 md:gap-5;
}
.imgContainer {
  @apply flex  items-center p-5   bg-[var(--bg-tertiary)] w-24 h-24    lg:w-48 lg:h-48 sm:w-36 sm:h-36 flex-shrink-0;
}
.box {
  @apply flex justify-between items-center flex-grow p-2 h-full ;
}

.box>div:first-child {
  @apply flex flex-col justify-between gap-2
}



.arrowContainer {
  @apply bg-[var(--bg-secondary)] py-1 px-2 rounded-full  
}

.container:hover .arrowContainer {
  animation: arrowSpin 0.9s infinite;
}


@keyframes arrowSpin {

  0% {
        transform: translateX(2px);
  }

  50% {
    transform: translateX(-4px);
  }

  100% {
    transform: translateX(2px);

  }


  
}

